{% extends "base.html" %}

{% block title %}Symlix - Contact{% endblock title %}
{% block og_title %}Contact{% endblock og_title %}

{% block head %}
<link rel="stylesheet" href="/css/contact.css" />
{% endblock head %}

{% block content %}
<div class="container">
    <h1>Contact</h1>

    <p>Bonjour ! Merci de votre intérêt pour mon contenu. De quoi souhaitez-vous discuter ?</p>

    <ul class="contact-list">
        <li class="toggler" data-toggling="sponso">
            <b class="shifted">Contenu sponsorisé</b>
        </li>
        <p id="sponso" class="shifted">Pour les démarches relatives à des opérations commerciales, veuillez écrire à <b
                class="nowrap"><a href="mailto:sponso@symlix.fr">sponso@symlix.fr</a></b>.</p>
        <li class="toggler" data-toggling="legal">
            <b class="shifted">
                Contact légal</b>
        </li>
        <p id="legal" class="shifted">Pour toute démarche légale, veuillez écrire à <b class="nowrap"><a
                    href="mailto:legal@symlix.fr">legal@symlix.fr</a></b>.</p>
        <li class="toggler" data-toggling="question">
            <b class="shifted">Question relative au stream / chat</b>
        </li>
        <p id="question" class="shifted">Le mieux pour ce type de requêtes est d'en discuter sur le <a
                href="{{ discord }}">serveur Discord</a>. C'est là que vous trouverez des gens (possiblement moi)
            qui pourront vous aider. <b>Cela est d'autant plus vrai si vous cherchez à résoudre un problème de ban
                Twitch.</b></p>
        <li class="toggler" data-toggling="message">
            <b class="shifted">Juste un petit message</b>
        </li>
        <p id="message" class="shifted">Si vous voulez juste m'envoyer un petit message comme ça, vous pouvez le faire à
            <b class="nowrap"><a href="mailto:message@symlix.fr">message@symlix.fr</a></b>. Merci :)</p>
    </ul>
</div>
{% endblock content %}

{% block scripts %}
<script src="/js/contact.js"></script>
{% endblock scripts %}