{% extends "base.html" %}

{% block title %}Demo{% endblock title %}
{% block og_title %}Demo{% endblock og_title %}

{% block head %}

{% endblock head %}

{% block content %}
<div class="container">
    <h1>Lorem ipsum</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Nisi porta lorem mollis aliquam ut porttitor leo. Pellentesque elit eget gravida cum sociis natoque
        penatibus et. Tincidunt vitae semper quis lectus nulla. Sed adipiscing diam donec adipiscing tristique risus nec
        feugiat in. </p>
    <p>Sed velit dignissim sodales ut eu sem. Quis commodo odio aenean sed adipiscing diam. Est ante in nibh
        mauris cursus mattis. Ullamcorper morbi tincidunt ornare massa. Sed blandit libero volutpat sed cras ornare arcu
        dui. Diam in arcu cursus euismod quis viverra nibh cras pulvinar. Dolor sit amet consectetur adipiscing elit
        duis.
        Vel eros donec ac odio tempor. Risus at ultrices mi tempus imperdiet nulla. Luctus venenatis lectus magna
        fringilla
        urna porttitor rhoncus. Nisi porta lorem mollis aliquam ut porttitor leo. Lectus quam id leo in vitae turpis
        massa
        sed elementum.</p>
</div>
{% endblock content %}

{% block scripts %}
<script src="/js/contact.js"></script>
{% endblock scripts %}