.contact-list li {
    margin-bottom: 0.75rem;
}

.contact-list li::marker {
    content: "▸";
}

.contact-list .open::marker {
    content: "▾";
}

.toggler {
    cursor: pointer;
}

.shifted {
    margin-left: 1rem;
    margin-right: 3rem;
}

.hidden:not(:focus):not(:active) {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}